{:paths ["src" "test"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        org.clojure/data.json {:mvn/version "2.5.0"}
        com.cemerick/drawbridge {:mvn/version "0.0.7"}
        http-kit/http-kit {:mvn/version "2.7.0"}
        nrepl/nrepl {:mvn/version "1.1.0"}
        org.clojure/tools.nrepl {:mvn/version "0.2.13"}
        ring/ring-core {:mvn/version "1.11.0"}
        ;; Meme layer (SQLite)
        com.github.seancorfield/next.jdbc {:mvn/version "1.3.909"}
        org.xerial/sqlite-jdbc {:mvn/version "3.44.1.0"}}
 :aliases {:test {:exec-fn clojure.test/run-all-tests}}}
